<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Space Design | Home</title>
  <link rel="stylesheet" href="../../reset.css">
  <link rel="stylesheet" href="../stylesheets/space_styles.css">
</head>
<body>
  <header>
    <h1>SpaceDesign</h1>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a class="active" href="projects.html">Projects</a></li>
        <li><a href="team.html">Team</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="project-container">
      <article>
      <h2>Projects</h2>
        <figure>
          <img class="project-img" src="../images/img_project_app.jpg" alt="Get this app">
        </figure>
        <h3>Project name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
      </article>  
      <article>
        <figure>
          <img class="project-img" src="../images/img_project_moment.jpg" alt="Moment magazine">
        </figure>
        <h3>Project name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
      </article>
      <article>
        <figure>
          <img class="project-img" src="../images/img_project_map.jpg" alt="Map project: Have a good trip.">
        </figure>
        <h3>Project name</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
      </article>
    </div>
  </main>
  <footer>
    <p>Lorem ipsum dolor sit amet, consectetu incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    <div class="twitter icon">Twitter</div>
    <div class="facebook icon">Facebook</div>
    <div class="email icon">Email</div>
    <div class="instagram icon">Instagram</div>
  </footer>
</body>
</html>