<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Space Design | Home</title>
  <link rel="stylesheet" href="../../reset.css">
  <link rel="stylesheet" href="../stylesheets/space_styles.css">
</head>
<body>
  <header>
    <h1>SpaceDesign</h1>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a class="active" href="team.html">Team</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="team-container">
      <h2>Team</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniadolor</p>
      <ul class="team">
        <li>
          <a href="kevin.html">
            <figure>
              <img src="../images/img_kevin.jpg" alt="Kevin">
            </figure>
            <figcaption>Kevin</figcaption>
          </a>
        </li>
        <li>
          <a href="louis.html">
            <figure>
              <img src="../images/img_louis.jpg" alt="Louis">
            </figure>
            <figcaption>Louis</figcaption>
          </a>
        </li>
        <li>
          <a href="kasper.html">
            <figure>
              <img src="../images/img_kasper.jpg" alt="Kasper">
             </figure>
            <figcaption>Kasper</figcaption>
          </a>  
        </li>
        <li>
          <a href="chris.html">
            <figure>
              <img src="../images/img_chris.jpg" alt="Chris">
            </figure>
            <figcaption>Chris</figcaption>
          </a>
        </li>
      </ul>
    </div>
  </main>
  <footer>
    <p>Lorem ipsum dolor sit amet, consectetu incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    <div class="twitter icon">Twitter</div>
    <div class="facebook icon">Facebook</div>
    <div class="email icon">Email</div>
    <div class="instagram icon">Instagram</div>
  </footer>
</body>
</html>